/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.item{
	display:flex;
	flex-direction:column;
	text-align:center;
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius: 5px;
	border:none;
}
img{
	width:;
	height:;
	object-fit:cover;
}